page-welcome {
  .welcome {
    background: url('../assets/imgs/background-1.jpg') no-repeat center;
    background-size: 100% 100%;
    h2 {
      margin:0 0 5px;
      color:#FFF;
      font-size:16px;
      text-align:center;
    }

    .welcome-logo {
      display:block;
      width:200px;
      height:95px;
      background:url('../assets/imgs/login-logo-2.png');
      background-size:100% 100%;
      margin:90px auto 20px;

      @media screen and (min-width: 600px) {
        margin:120px auto 60px;
      }
    }

    .item-profile {
       height: 150px;
      .item-avatar > img:first-child {
        max-width: 150px;
        max-height: 150px;
        margin: 0 auto;
      }
    }

    .button{
      background-color: #1b5e20 !important;
      color: white !important;
    }

    ion-title .toolbar-title{
      color: white !important;
      font-size: 18px !important;
    }

    ion-title.name .toolbar-title{
      color: white !important;
      font-size: 21px !important;
    }

    ion-item .item-inner{
      border-bottom: none !important;
    }

    ion-item .item-inner .input-wrapper{
      text-align: center;
    }

    ion-item{
      background: none !important;
    }

    ion-header{
      padding-left: 5px;
    }

    ion-header .toolbar-background{
      background: none !important;
      border: none !important;
    }

    ion-header .toolbar-content ion-icon{
      color: white !important;
    }

    ion-list {
      margin:0 50px;

      @media screen and (min-width: 600px) {
        width:50%;
        margin:0 auto;
      }

      ion-item {
        background:none;
        padding:0;


        &:first-child {
          margin-bottom:20px;
        }

        .item-inner {
          padding:0px;
        }

        &.item-input.input-has-focus .item-inner {
          border:0;
          box-shadow:none;
        }

        ion-input {
          padding:2px;
          border:solid 1px #ffdbdb;
          border-radius:9px;
          height:38px;

          .text-input {
            background:none;
            border-radius:5px;
            height:34px;
            text-align:left;
            margin:0;
            width:100% !important;
            padding-left: 15px;

            &:focus {
              background: rgba(241, 241, 241, 0.4) !important;
              width:100% !important;
            }
          }

          &.input-has-focus {
            .text-input {
              background:#ffdbdb !important;
              width:100% !important;
            }
          }

        }

      }

      .button {
        font-size:10px;
        background: #1b5e20 !important;
        width: 60% !important;
      }

      ion-grid,
        ion-col {
          padding:0;
          padding-top: 15px;
          a {
            color:#FFF;
            text-decoration:underline;
            font-size:10px;
            white-space:nowrap;
            position: relative;
            top: 10px;
          }
        }
    }

    .social-connect {
      position:absolute;
      bottom:20px;
      width:100%;
      left:0;
    }

    .social-btn{
      margin-left: 0px;
      width: 95% !important;
    }

    .btn{
      margin-top: 30px;
    }

    .fcb{
      background: #3b5995 !important;
      border-radius: 5px;
    }
  }

}
